extends ./layout/tmp.layout_pure.pug

block title
    | Dark | Template

block content
    main.main


        .phone
            .phone__container.head.draggable draggable feature
                // icons for draggable space and so on here:
                //- include /components/.../phone/...

            // iframe here:
            .phone__container.body
                .phone__head PHONE HEAD
                .phone__body PHONE BODY
                .phone__foot PHONE FOOT
                //- include /components/.../phone/...




